<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="hatefull8.adamastor_alpha">

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="hatefull8.adamastor_alpha.HomeActivity"
            android:label="Adamastor Home"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="hatefull8.adamastor_alpha.AppsListActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>

        <activity
            android:name="hatefull8.adamastor_alpha.NotificationListActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            >
        </activity>

        <service android:name="hatefull8.adamastor_alpha.NotificationService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>

</manifest>
